@media (max-width:768px) {

    .logo {
        display: flex;
        align-items: end;
    }

    .logo > svg {
        width: 40.5px;
        height: 22.5px;
    }

    .logo > span {
        font-size: 22px;
    }

    .header-content {
        font-size: 11px;
        gap: 16px;
    }

    .underlink-inner {
        max-width: 74px;
    }

    .underlink-inner > svg {
        width: 74px;
        height: 3px;
    }

    .intro {
        max-width: 711px;
    }

    .intro-title {
        font-size: 38px;
    }

    .intro-text {
        font-size: 12px;
    }

    .intro-btn {
        font-size: 13px;
        padding: 13px 35px 14px 31px;
    }

    .intro-btn-1 {
        font-size: 13px;
        padding: 11px 21px 12px 21px;
        border: 3px solid #4BA87D;
    }

    .intro-content {
        max-width: 345px;
        padding: 0;
    }

    .intro-inner > img {
        width: 61%;
        height: auto;
    }

    .reach-more-block > img {
        margin: 0 auto;
        max-width: 616px;
        height: auto;
    }

    .learn {
        margin-top: 182px;
    }

    .reach-more-title {
        position: absolute;
        top: 30%;
        margin: 0;
        font-size: 38px;
    }

    .learn-btn {
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translateY(-50%);
        transform: translateX(-55%);
        padding: 12.44px 24px 14.56px 24px;
        font-size: 13px;
    }

    .info-item-content {
        display: flex;
        justify-content: space-between;
        max-width: 710px;
        max-height: 348px;
        display: flex;
    }

    .info-item > img{
        max-width: 209px;
        height: auto;
    }

    .background-item {
        max-width: 209px;
        max-height: 128px;
    }

    .info-text {
        font-size: 12px;
        line-height: 126%;
        padding: 24px 25px 0 20px;
    }

    .info-btn {
        text-align: left;
        font-size: 12px;
        padding-top: 25px;
        margin: 25px 0 0 20px;
    }

    .info-item-text {
        font-size: 12px;
        line-height: 126%;
        padding-top: 17px;
    }

    .info-title {
        font-size: 28px;
    }

    .info-item:nth-child(2) {
        padding-top: 57.84px;
        padding-top: 90px;
    }

    .info-item:last-child {
        max-width: 232px;
    }

    .members-item > img {
        max-width: 223px;
        width: 100%;
        height: auto;
    }

    .mail-title {
        font-size: 28px;
    }

    .input-mail {
        padding: 12px 0 15px 16px;
        font-size: 13px;
    }

    .mail-btn {
        padding: 13px 21.5px 14px 21.5px;
        font-size: 13px;
    }

    .mail-container span {
        margin-top: 13px;
        margin-left: 17%;
        font-size: 13px;
    }

    .brands {
        padding-top: 78px;
    }

    .brand-title {
        font-size: 28px;
    }

    .brands-item {
        margin-top: 74px;
        display: flex;
        gap: 42px;
    }

    .brands-item > svg {
        width: 94px;
    }

    .plan-content {
        max-width: 768px;
    }

    .plan-title {
        font-size: 42px;
    }

    .plan-btn {
        font-size: 13px;
        padding: 13px 23px 14px 23px;
    }

    .footer-title {
        padding-top: 39px;
    }

    .footer-column-content {
        font-size: 12px;
        margin-right: 70px;
        margin-bottom: 76px;
    }

    .footer-logo > span {
        margin-left: 6px;
        font-size: 16px;
    }

    .footer-text {
        font-size: 9px;
    }

    .footer-text:nth-child(1) {
        margin-right: 68px;
    }

    .footer-logo > svg {
        width: 32px;
        height: 16px;
    }

    .divider > svg {
        width: 711px;
    }

}

@media (max-width:320px) {

    .logo > span {
        font-size: 22px;
    }

    .header-content > .header-item {
        display: none;
    }

    .header-btn {
        padding: 6px 13.5px;
    }

    .intro-title {
        font-size: 36px;
    }

    .intro {
        padding: 0;
    }

    .intro-inner {
        margin: 0 auto;
    }

    .intro-inner >  img {
        width: 90%;
    }

    .learn {
        margin-top: 41.78px;
    }

    .reach-more-block > img {
        max-width: 304px;
        height: auto;
    }

    .reach-more-title {
        top: 30%;
        margin: 0;
        font-size: 22px;
    }

    .learn-btn {
        padding: 6.44px 13px 7.56px 13px;
        font-size: 6px;
    }

    .info-item-content {
        flex-wrap: wrap;
        max-width: 302px;
        max-height: 823px;
    }

    .info-item:nth-child(2) {
        padding-top: 14.84px;
        padding-left: 79.71px;
    }

    .info-item:last-child {
        padding-top: 18px;
    }

    .info-item-text {
        font-size: 12px;
        line-height: 116%;
        width: 90%;
    }

    .members-content {
        flex-wrap: wrap;
        gap: 21px;
    }

    .member-title {
        font-size: 22px;
        bottom: 25px;
    }

    .member-text {
        font-size: 12px;
        font-family: "Raleway-Bold";
    }

    .mail-title {
        font-size: 26px;
    }

    .mail-container span {
        letter-spacing: 0.6px;
        font-size: 12px;
        margin-top: 6px;
        margin-left: 58px;
        justify-content: center;
    }

    .input-mail {
        margin-top: 24px;
        margin-right: 0px;
        width: 90%;
        font-size: 13px;
    }

    .mail-btn {
        letter-spacing: 0.65px;
        font-size: 13px;
        padding: 13px 21px 14px 22px;
    }

    .brands {
        padding-top: 56px;
    }

    .brand-title {
        width: 90%;
        font-size: 26px;
    }

    .brands-item {
        margin-top: 40px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .intro-plan {
        padding-top: 66px;
    }

    .plan-title {
        text-align: center;
        padding-bottom: 49px;
    }

    .plan-btn {
        font-size: 13px;
        letter-spacing: 0.65px;
    }

    .plan-content {
        max-width: 768px;
    }

    .footer-column-content .footer-item {
        font-size: 12px;
    }

    .footer-logo {
        font-size: 16px;
        padding: 0;
    }

    .footer-column-content { 
        display: none;
    }
    .footer-column-content-mob{
        display: flex;
        margin-right: 0;
        font-size: 12px;
        justify-content: left;
        margin-bottom: 26px;
    }

    .footer-title {
        padding: 22px 0 22px 0;
        gap: 0px;
        display: grid;
        line-height: 119%;
    } 

    .footer-title .footer-text:first-child {
        margin: 0;
    }

    .footer-title .footer-text:nth-child(2){
        margin: 34px 0 0 0;
        
    }
    
    
}   